body{
    background-image: url(pp1.jpg);
    background-repeat: none;
    background-size: cover;
}
h1{
    background-color: rgb(209, 210, 211);
}
table{
    background-color: rgb(146, 146, 152);
}
button{
    background-color:rgb(240, 235, 235);
}

